.content-image {
  height: 535px;
}

.content-image img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.content-details {
  padding: 40px;
  background-color: var(--white);
  width: calc(100% - 60px);
  margin-inline: auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin-top: -100px;
  border-radius: 10px;
  margin-bottom: 50px;
}

.content-details-info {
  margin-right: 120px;
}

.content-details-info span {
  line-height: 1;
  margin-bottom: 12px;
}

.content-details-social {
  margin-right: -10px;
}

.content-details-link {
  width: 43px;
  height: 43px;
  background-color: #eef3f7;
  border-radius: 50%;
  margin-right: 10px;
  color: var(--text-second);
  transition: 0.25s linear;
}

.content-details-link:hover {
  background-color: var(--dot);
  color: var(--white);
}

.content-text-list {
    padding-left: 19px;
    border-left: 2px solid var(--slider-btn);
}

.content-text-item p {
    line-height: 1.5;
}

.content-text-item {
    margin-bottom: 10px;
}

.content-text-item:last-child {
    margin-bottom: 0;
}

.content-text-item-icon {
  height: 19px;
  width: 19px;
  background-color: var(--dot);
  border-radius: 50%;
  color: var(--white);
  margin-right: 15px;
}

.pagination-main {
    padding: 55px 0;
}

.pagination-item {
    color: var(--text-second);
}

.pagination-item:nth-child(1) p {
    margin-left: 10px;
}

.pagination-item:nth-child(2) p {
    margin-right: 10px;
}

.pagination-item p {
    line-height: 1;
}

.pagination-item i {
    margin-top: 3px;
}

