*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button,
input {
  outline: 0;
  border: 0;
}

ul,
li {
  list-style: none;
}

img {
  object-fit: cover;
  max-width: 100%;
}
