.our {
  --bg-color: #eef3f7;
  padding: 120px 0;
  position: relative;
}

.our-bg {
  height: 300px;
  width: 100%;
  background-color: var(--bg-color);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-list {
  --gap: 15px;
  --columns: 100%/3;
  margin-left: calc(-1 * var(--gap));
}

.our-item {
  width: calc(var(--columns) - var(--gap));
  margin-left: var(--gap);
  padding: 50px 60px;
  background-color: var(--white);
  border-radius: 10px;
  align-items: center;
  transition: 0.25s linear;
}

.our-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  background-color: var(--bg-color);
  border-radius: 50%;
  margin-bottom: 30px;
}

.our-heading {
  font-size: 24px;
  line-height: 26px;
  font-weight: 800;
  color: var(--text-second);
  text-align: center;
  max-width: 200px;
}

.our-desc {
  margin: 20px 0;
}

.our-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: var(--bg-color);
  cursor: pointer;
  transition: 0.25s linear;
}

.our-link i {
  font-size: 24px;
  color: var(--text-second);
}

.our-item:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.our-item:hover .our-link {
  background-color: var(--dot);
}

.our-item:hover .our-link i {
  color: var(--white);
}
